**/__pycache__/*
**/*.dat
**/*.db
**/*.db.lock
**/.uuid
**/*.log
**/*.pid
**/api.json
**/qsettings
**/watch_later/*
.newsboat/history.cmdline
.newsboat/history.search
.config/awesome/
.config/bspwm/
.config/cmus/
.config/htop/
.config/i3status/
.config/mpv/
.config/netsurf/
.config/youtube-viewer/
linked
